<section class="app-header">
<div class="container-fluid">
    <app-header></app-header>
</div>
</section>
<section class="app-toolbar section">
    <div class="container">
        <div class="toolbar">
            <div class="row item-center">
                <div class="col-xl-6">
                    <div class="toolbar-button">
                        <button class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" #addEmployeeButton>Add Employee</button>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="toolbar-search">
                        <input type="search" placeholder="Search Employee" #searchInput (input)="searchEmployee(searchInput.value)">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Employee Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          
          <!-- Personal Info  -->      
          <div class="row">
            <div class="col">
              <div class="form-heading-wrap">
                <h4 class="form-heading">Personal Information</h4>
              </div>
            </div>
          </div> 
          <!-- First/Last Name  -->
          <div class="custom-form-control-wrap">
            <div class="row">
              <div class="col-xl-6">
                <input type="text" class="form-control" placeholder="First Name" formControlName="firstname">
              </div>
              <div class="col-xl-6">
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
              </div>
            </div>
          </div>
          <div class="custom-form-control-wrap">
            <div class="row">
              <div class="col">
                <label for="datepicker" class="custom-form-label">Birthdate</label>
                <div class="custom-form-control-wrap">
                  <input type="date" class="form-control" id="datepicker" formControlName="birthday">
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <p class="custom-form-label">Gender</p>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="custom-form-control-wrap">
                      <div class="form-check form-check-inline">
                        <input type="radio" id="male" value="m" class="form-check-input"  name="gender" formControlName="gender">
                        <label class="form-check-label" for="male">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input type="radio" id="female" value="f" class="form-check-input" name="gender" formControlName="gender">
                        <label for="female">Female</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
          <div class="custom-form-control-wrap custom-dynamic-select">
            <div class="row">
              <div class="col">
                <select class="form-select" formControlName="education">
                  <option value="default" selected>Select Your Education</option>
                  <option value="{{i}}" *ngFor="let education of educationOptions; let i = index;">
                    {{education | titlecase}}
                  </option>
                </select>
              </div>
            </div>
          </div>   

          <!-- Profile Image -->
            <div class="row">
              <div class="col">
                <label for="profile" class="custom-form-label">Profile Image</label>
                <div class="custom-form-control-wrap">
                  <input type="file" class="form-control" placeholder="Company Name" id="profile" #fileInput>
              </div>
            </div> 
          </div>

          <!-- Job Info  -->  
          <div class="row">
            <div class="col">
              <div class="form-heading-wrap">
                <h4 class="form-heading">Job Information</h4>
              </div>  
            </div>
          </div> 
          <div class="custom-form-control-wrap">
            <div class="row">
              <div class="col">
               <input type="text" class="form-control" placeholder="Company Name" formControlName="company">
              </div>
            </div> 
          </div>
          <div class="custom-form-control-wrap">
            <div class="row">
              <div class="col-xl-6">
               <input type="number" class="form-control" placeholder="Job Experience (yrs)" formControlName="jobExperience">
              </div>
              <div class="col-xl-6">
               <input type="number" class="form-control" placeholder="Salary (LPA)" formControlName="salary">
              </div>
            </div> 
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()" #insertEmployee *ngIf="!isEditActive">Insert Employee</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEmployee()" *ngIf="isEditActive">Update Employee</button>
      </div>
    </div>
  </div>
</div>
</section>
<section class="app-employee section">
    <div class="container">
        <div class="empty-employee" *ngIf="employees.length == 0">
            <span class="emt-employee-tag">There Are No Employees Added ! </span>
        </div>

        <!-- Area Display Employee -->

        <div class="employee-display-wrapper">
          <div class="employee-wrap" *ngFor="let employeeItem of employeesToDisplay; let i = index;">
              <app-employee [getEmployee]="employeeItem" (onRemoveEmployee)="removeEmployee($event)" (onEditEmployee)="editEmployee($event)"></app-employee>
          </div>
        </div>
    </div>
</section>

